body {
	background-color: gold;
	text-align: center;
}

h1 {
	text-align: center;
	color: grey;
}

h2 {
	text-align: center;
	color: grey;
}

h3 {
	text-align: center;
	color: grey;
}

h4 {
	text-align: center;
	color: grey;
}

h5 {
	text-align: center;
	color: grey;
}

h6 {
	text-align: center;
	color: grey;
}

p {
	text-align: center;
	color: grey;
}

footer {
	text-align: center;
	color: grey;
	font-family: cursive;
}

