body {
	background-color: #79BAEC;
	text-align: center;
}

h1 {
	text-align: center;
	color: white;
}

h2 {
	text-align: center;
	color: white;
}

h3 {
	text-align: center;
	color: white;
}

h4 {
	text-align: center;
	color: white;
}

h5 {
	text-align: center;
	color: white;
}

h6 {
	text-align: center;
	color: white;
}

p {
	text-align: center;
	color: white;
}

footer {
	text-align: center;
	color: black;
	font-family: cursive;
}

a:link {
	color: white;
}

a:visited {
	color: white;
	text-shadow: 0 0 3px #3F0808;
}

a:hover {
	color: white;
	text-shadow: 0 0 3px #FFFFFF;
}

a:active {
	color: white;
	text-shadow: 0 0 3px #3F0808;
}