body {
	background-color: #8b0000;
	text-align: center;
}

h1 {
	text-align: center;
	color: cyan;
}

h2 {
	text-align: center;
	color: cyan;
}

h3 {
	text-align: center;
	color: cyan;
}

h4 {
	text-align: center;
	color: cyan;
}

h5 {
	text-align: center;
	color: cyan;
}

h6 {
	text-align: center;
	color: cyan;
}

p {
	text-align: center;
	color: cyan;
}

footer {
	text-align: center;
	color: cyan;
	font-family: cursive;
}

