body {
	background-color: black;
	text-align: center;
}

h1 {
	text-align: center;
	color: white;
}

h2 {
	text-align: center;
	color: white;
}

h3 {
	text-align: center;
	color: white;
}

h4 {
	text-align: center;
	color: white;
}

h5 {
	text-align: center;
	color: white;
}

h6 {
	text-align: center;
	color: white;
}

p {
	text-align: center;
	color: white;
}

footer {
	text-align: center;
	color: transparent;
}

a:link {
	color: white;
	text-shadow: 0 0 3px #EEEEEE;
}

a:visited {
	color: white;
}

a:hover {
	color: black;
	text-shadow: 0 0 3px white;
}

a:active {
	color: yellow;
}