body {
	background-color: black;
	text-align: center;
}

h1 {
	text-align: center;
	color: green;
	font-family: monospace;
}

h2 {
	text-align: center;
	color: green;
	font-family: monospace;
}

h3 {
	text-align: center;
	color: green;
	font-family: monospace;
}

h4 {
	text-align: center;
	color: green;
	font-family: monospace;
}

h5 {
	text-align: center;
	color: green;
	font-family: monospace;
}

h6 {
	text-align: center;
	color: green;
	font-family: monospace;
}

p {
	text-align: center;
	color: green;
	font-family: monospace;
}

footer {
	text-align: center;
	color: white;
	font-family: cursive;
}

