#game-container {
    width: 80%;
    height: 80%;
    border: 1px solid black;
    position: absolute;
    margin: auto;
	text-align: center;
}

#gameCanvas {
    background-color: black;
	width: 100%;
	height: 100%;
}

#score {
    position: absolute;
    top: 10px;
    left: 50px;
	right: 50px;
    font-size: 24px;
    font-family: Arial, sans-serif;
	color: white;
}

#posx {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    font-family: Arial, sans-serif;
	color: white;
}

#posy {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-family: Arial, sans-serif;
	color: white;
}