body {
	background-color: cyan;
	text-align: center;
}

h1 {
	text-align: center;
	color: blue;
}

h2 {
	text-align: center;
	color: blue;
}

h3 {
	text-align: center;
	color: blue;
}

h4 {
	text-align: center;
	color: blue;
}

h5 {
	text-align: center;
	color: blue;
}

h6 {
	text-align: center;
	color: blue;
}

p {
	text-align: center;
	color: blue;
}

footer {
	text-align: center;
	color: blue;
}

