body {
	text-align: center;
	background-color: white;
}

h1 {
	text-align: center;
	color: black;
}

h2 {
	text-align: center;
	color: black;
}

h3 {
	text-align: center;
	color: black;
}

h4 {
	text-align: center;
	color: black;
}

h5 {
	text-align: center;
	color: black;
}

h6 {
	text-align: center;
	color: black;
}

p {
	text-align: center;
	color: black;
}

footer {
	text-align: center;
	color: black;
}

button {
	text-align: center;
	color: black;
}